<h1>
  Téléservice pour {{username}}
</h1>

<style type="text/css">
  label {
    display: block;
  }
</style>

<form method="post" action="result">
  {{#fields}}
    <label>{{key}}
      <input name="{{key}}" value="{{value}}" >
    </label>
  {{/fields}}
  <input type="submit" value="Submit">
</form>
